@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}

.banner{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
}